@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');
.toolbar{
   justify-content:space-around;
   background-color: #fff;
}
.mybu{
    background-color:#270000;
    width:100px;
    height:40px;
    font-size: 19px;
    font-weight: bold;
    box-shadow: 0px 0px 20px 0px rgba(53, 52, 52, 0.336);
    border-radius: 50px;
    font-family: 'Patrick Hand', cursive;
    cursor: pointer;
    color:white;
    border-width:0px;
    
}
.mybu:hover{
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
    -webkit-transition: all 250ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 250ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 250ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 250ms ease-in;
    transform: scale(1.1);
}
@media only screen and (max-width: 993px){
    .mybu{
        width: 80px;
        height: 35px;
        font-size: 15px
    }
}
@media only screen and (max-width: 868px){
    .mybu{
        width: 70px;
        height: 30px;
        font-size: 13px
    }
}
@media only screen and (max-width: 679px){
    .mybu{
        width: 60px;
        height: 25px;
        font-size: 10px
    }
}